In [1]:
from numpy import asarray
import pandas as pd

In [2]:
df1 = pd.read_pickle('p_val_8.pkl')
df2 = pd.read_pickle('n_val_8.pkl')

In [3]:
df1 = df1.dropna(axis=1)
df2 = df2.dropna(axis=1)

In [4]:
# add value of 1 for pneumonia

df1['Present']=1

#add value of 0 for normal

df2['Present']= 0

In [5]:
#df1.head()

In [6]:
#df1 and df2
combined_df = pd.concat([df1, df2], ignore_index=True)
df = combined_df

In [7]:
df.shape

(16, 65537)

In [8]:
#drop duplicates

df2 = df.drop_duplicates()

In [9]:
df2.shape

(16, 65537)

In [13]:
df2.tail()

,0,1,2,3,4,5,6,7,8,9,...,65527,65528,65529,65530,65531,65532,65533,65534,65535,Present
11,114,80,83,124,51,49,39,27,34,27,...,0,1,1,1,0,0,0,0,0,0
12,149,78,83,132,79,74,70,38,11,4,...,0,0,0,0,0,0,0,0,0,0
13,96,63,82,79,47,56,68,61,68,119,...,0,5,0,0,4,13,16,9,1,0
14,0,1,1,0,0,0,2,4,0,2,...,0,0,0,0,0,0,0,0,0,0
15,52,49,49,20,27,24,39,32,53,59,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#dataframe to pickle

df2.to_pickle("val_all.pkl")